body {
    background-color:rgb(72, 199, 72);
}
h1{
    color: #048704;
    font-family: "Lucida Console", "Monaco", monospace;
}
h2 {
    color: rgb(128, 72, 22);
    font-family: "Lucida Console", "Monaco", monospace;
}
h3 {
    color: rgb(79, 77, 77);
    font-family: "Lucida Console", "Monaco", monospace;
}

p, li {
    color: rgb(0, 83, 7);
    font-family: "Verdana", "Arial", sans-serif;
}

h4 {
   background-color: white;
   color: rgb(15, 68, 12);
   font-family: "Lucida Console", "Monaco", monospace;
}

#xbox {
    background-color: #107C10;
    color: white;
    font-family: "Georgia", "Garamond", serif;
}

#suggestion {
    background-color: #3A3A3A;
    color: white;
    font-family: "Georgia", "Garamond", serif;
}

footer.credits {
    background-color: rgb(0, 154, 0);
    color: rgb(221, 217, 217);
    font-family: "Georgia", "Garamond", serif;
}

p.summary{
    background-color: rgb(181, 255, 181);
    font-family: "Lucida Console", "Monaco", monospace;
}